<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>基于OCR的身份证要素提取设计与实现</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/templatemo-style.css">

</head>

<body background="../static/img/footer.jpg">

	<h1>基于OCR的身份证要素提取演示系统</h1>
	<P class="mb-5">采用深度学习技术，识别准确率高达90%</P>
	<div class= "tm-content_index col-xl-5 col-sm-8 col-xs-8 mr-auto section">
	<form action="" enctype="multipart/form-data" method="post" class="subscribe-form">
		<div class="row form-section">
			<div class="col-md-5 col-sm-7 col-xs-7">
				<div class="form-control">
					<a href="#" class="a-upload"><input type="file" name="file">点击上传图片</a>
				</div>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-5">
				<button type="submit" class="tm-btn-subscribe">识别</button>
			</div>
		</div>
	</form>
	</div>
	<div class="footer-link">
		Copyright © 2020 <a rel="nofollow" href="http://cs.imnu.edu.cn/" target="_parent">内蒙古师范大学-计算机科学技术学院</a>
			- Designer: 高尚
	</div>

</body>
</html>